<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codegg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.codegg.CallMe"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >

            <!-- android:theme ="@android:style/Theme.Black.NoTitleBar.Fullscreen" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.codegg.SimulateCall" >
        </activity>
        <activity android:name="com.codegg.Test" >
        </activity>
        <activity
            android:name="com.codegg.SubMenuDemo"
            android:label="@string/subMenu.title" >
        </activity>
        <activity
            android:name="com.codegg.ProgressActivity"
            android:label="@string/progress.title" >
        </activity>
        <activity
            android:name="com.codegg.ProgressCustomActivity"
            android:label="@string/title_activity_progress_custom" >
        </activity>
        <activity
            android:name="com.codegg.FileSystemActivity"
            android:label="@string/title_activity_file_system" >
        </activity>
        <activity
            android:name="com.codegg.FileSystemGalleryActivity"
            android:label="@string/title_activity_file_system_gallery" >
        </activity>
    </application>

</manifest>